.cover-wrapper {
  width: 100%;
  max-width: 100%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-dimensions {
  position: relative;
}

.dev {
  height: 340px;
  width: 860px;
}

.hashnode {
  height: 420px;
  width: 800px;
}
